<div id="banner-wrapper">
  <div id="banner" class="smart-padding">
    <div id="title-box">
      {{#if @blog.logo}}
      <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
      {{else}}
      {{@blog.title}}
      {{/if}}
      <h2 class="site-description">{{@blog.description}}</h2>
    </div>
    <div class="expandable">
      <li class="tab">
        <input type="radio" id="hidetab" name="ac0" checked>
        <label for="hidetab" class="inverseexpandsection">Hide Menu</label>
      </li>
      <li class="tab">
        <input type="radio" id="showtab" name="ac0">
        <hr class="inverseexpandsection">
        <label for="showtab" class="inverseexpandsection">Show Menu</label>
        <div id="mainmenu" class="expandsection smart-padding">
          <hr>
          <div class="accordion">
            <ul>
              <li class="tab">
                <h1>
                </h1>
              </li>
              <li class="tab">
                <h1>
                </h1>
              </li>
              <li class="tab">
                <h1>
                </h1>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>